
App4/.vs/App4/v16/.suo
App4/.vs/App4/DesignTimeBuild/.dtbcache
App4/.vs/App4/DesignTimeBuild/.dtbcache
App4/.vs/App4/v16/.suo
*.ide
*.ide-wal
App4/.vs/App4/DesignTimeBuild/.dtbcache
App4/.vs/App4/v16/.suo
App4/.vs/App4/DesignTimeBuild/.dtbcache
App4/.vs/App4/DesignTimeBuild/.dtbcache
*.ide
App4/.vs/App4/v16/.suo
*.ide
